
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-3 {
  $duration: 0.8s;
  $size: 4em;
  $color: white;

  .spinner * {
    box-sizing: border-box;
  }
  .spinner {
    display: inline-block;
    animation-name: anim-spinner;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    .circle {
      width: $size;
      height: ($size/2);
      overflow: hidden;
    }
    .circle-inner {
      transform: rotate(45deg);
      border-radius: 50%;
      border: ($size/8) solid $color;
      border-right: ($size/8) solid transparent;
      border-bottom: ($size/8) solid transparent;
      width: 100%;
      height: 200%;
      animation-name: anim-circle-1;
      animation-duration: $duration;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(.25, .1, .5, 1);
    }
    .circle-2 {
      transform: rotate(180deg);
      & .circle-inner {
        animation-name: anim-circle-2;
      }
    }
    @keyframes anim-circle-1 {
      from {
        transform: rotate(60deg);
      }
      to {
        transform: rotate(205deg);
      }
    }
    @keyframes anim-circle-2 {
      from {
        transform: rotate(30deg);
      }
      to {
        transform: rotate(-115deg);
      }
    }
    @keyframes anim-spinner {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}